# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

import init.fac.rc

on init
#carrier
    mkdir /carrier 0771 system system

on fs
#carrier
    wait /dev/block/bootdevice/by-name/carrier
    check_fs /dev/block/bootdevice/by-name/carrier ext4
    mount ext4 /dev/block/bootdevice/by-name/carrier /carrier nosuid nodev barrier=1
    chown system system /carrier
    chmod 0771 /carrier

on early-boot
    chown bluetooth net_bt_stack /dev/ttyHS0
    chmod 0660 /dev/ttyHS0

on boot

# MSP FactoryApp
    mkdir /efs/FactoryApp 0775 system system

# Audio NXP
    chmod 0660 /dev/i2c-1
    chown system system /dev/i2c-1

# NFC_NXP
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn547
    chown nfc nfc /dev/pn547

# permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown radio net_bt_stack /efs/bluetooth/bt_addr
    chmod 0640 /efs/bluetooth/bt_addr
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

# SSWAP
    write /proc/sys/vm/swappiness 130

on fs

# Support Preload install apks
    mkdir /preload 0771 system system

#For Absolute Persistence Partition

    mkdir /persdata 0755 system system
    mkdir /persdata/absolute 0750 system system

    wait /dev/block/bootdevice/by-name/persdata
    check_fs /dev/block/bootdevice/by-name/persdata ext4
    mount ext4 /dev/block/bootdevice/by-name/persdata /persdata/absolute nosuid nodev barrier=1

    chown system system /persdata
    chmod 0755 /persdata
    chown system system /persdata/absolute
    chmod 0750 /persdata/absolute

# fm_radio
    chmod 0640 /dev/radio0
    chown system system /dev/radio0

on post-fs-data
# ItsOn property
    mkdir /dev/socket/itson 02771 sprintitson sprintitson
    start itsonbs

# for wlan FTM app
service ftm_ptt /system/bin/ftm_ptt -d
    user root
    group radio system
    disabled

service itsonbs /system/vendor/itson/itson-bootstrapper.sh
    oneshot
    critical
    seclabel u:r:itsonbs:s0

# SSWAP
service swapon /sbin/sswap -s
    class core
    user root
    group root
    seclabel u:r:sswap:s0
    oneshot
